
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>forfreshers.in</title>
<meta name="description" content="hello">
<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="solstice-assets/fonts/fonts.css">
</head>
<body>
	<div th:insert="~{layout/loginLayout :: login}"></div>

	<!-- jquery library JS -->
	<script src="/assets/js/jquery.min.js"></script>
	<script type="text/javascript">
	// Toggle password visibility on mouseover and click
	$("#passwordToggleBtn").on("click", function() {
	    console.log($("input[type=password][name=password]"));

	    if ($("input[type=password][name=password]").length > 0) {
	        // Change icon color and show password
	        $("#password-eye > path").css({
	            fill: "orange"
	        });
	        $("input[type=password]").attr("type", "text");
	    } else {
	        // Change icon color and hide password
	        console.log("hide");
	        $("input[name=password]").attr("type", "password");
	        $("#password-eye > path").css({
	            fill: "gray"
	        });
	    }
	});

	</script>
</body>
</html>