<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	 <section class="pt-12 pt-lg-24 bg-dark" th:fragment="footer">
        <div class="container">
          <div class="pt-10 px-10 pb-20 pb-lg-32 bg-dark-light bg-opacity-50 rounded-top">
            <div class="row">
              <div class="col-lg-4 mb-16 mb-lg-0">
                <a class="d-inline-block mb-6" href="#">
                  <img src="solstice-assets/images/logos/solstice-logo-light.svg" alt="">
                </a>
                <p class="text-light-dark small mb-0">© 2023 Solstice. All rights reserved.</p>
              </div>
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-6 col-md-3 mb-12">
                    <h6 class="mb-6 fw-medium text-white">Platform</h6>
                    <ul class="list-unstyled mb-0">
                      <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Features</a></li>
                      <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">How it works</a></li>
                      <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Pricing</a></li>
                      <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Features</a></li>
                      <li><a class="btn btn-link text-light-dark p-0" href="#">Events</a></li>
                    </ul>
                  </div>
                  <div class="col-6 col-md-3 mb-12">
                    <h6 class="mb-6 fw-medium text-white">Company</h6>
                    <ul class="list-unstyled mb-0">
                      <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">About</a></li>
                      <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Our Mission</a></li>
                      <li class="mb-6">
                        <a class="btn btn-link text-light-dark p-0" href="#">Careers</a>
                        <span class="badge ms-1 bg-primary text-white lh-base">HIRING</span>
                      </li>
                      <li><a class="btn btn-link text-light-dark p-0" href="#">Contact</a></li>
                    </ul>
                  </div>
                  <div class="col-6 col-md-3">
                    <h6 class="mb-6 fw-medium text-white">Resources</h6>
                    <ul class="list-unstyled mb-0">
                      <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Tutorials</a></li>
                      <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Blog</a></li>
                      <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Help Center</a></li>
                      <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Features</a></li>
                      <li><a class="btn btn-link text-light-dark p-0" href="#">Support</a></li>
                    </ul>
                  </div>
                  <div class="col-6 col-md-3">
                    <h6 class="mb-6 fw-medium text-white">Community</h6>
                    <ul class="list-unstyled mb-0">
                      <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Discord Server</a></li>
                      <li class="mb-6"><a class="btn btn-link text-light-dark p-0" href="#">Slack Group</a></li>
                      <li><a class="btn btn-link text-light-dark p-0" href="#">Zoom Room</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>