<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta charset="UTF-8">
<title>forfreshers.in</title>
<style type="text/css">
.nav-link:hover {
	color: orange;
}
</style>


</head>
<body>
	<div th:fragment="navbar">
		<!-- icons cdn -->
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
		<!-- awasome notification -->
		<script th:src="@{/js/awesome-notifications.js}"></script>
		<link rel="stylesheet" th:href="@{/css/awesome-notifications.css}">

		<!-- awasome fonts -->
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
		<!--  lenis scroll style sheet -->
		<link rel="stylesheet" href="https://unpkg.com/lenis@1.1.13/dist/lenis.css">
		
		<!-- check for mouse follower -->
		<link rel="stylesheet" href="https://unpkg.com/mouse-follower@1/dist/mouse-follower.min.css">

		<!--  main css -->
		<link rel="stylesheet" th:href="@{/css/main.css}">
		
		<nav class="navbar mb-12 navbar-expand-lg navbar-light">
			<div class="container">
				<a class="navbar-brand" th:href="@{/}"> <img class="img-fluid"
					th:src="@{/solstice-assets/images/logos/logoWithName.png}"
					alt="forfreshers" width="190px">
				</a>
				<button class="d-lg-none navbar-burger btn p-0 rounded-pill"
					style="border: none;" type="button" data-bs-toggle="collapse"
					data-bs-target="#nav01" aria-controls="nav01" aria-expanded="false">
					<svg class="text-secondary" width="51" height="51"
						viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="56" height="56" rx="28" fill="currentColor"></rect>
                <path d="M37 32H19M37 24H19" stroke="white"
							stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
				</button>
				<div class="collapse navbar-collapse position-relative" id="nav01">
					<ul
						class="navbar-nav position-absolute top-50 start-50 translate-middle d-xl-flex d-sm-none d-xs-none d-none text-nowrap">
						<li class="nav-item dropdown " data-po="popover"><a
							class="nav-link  dropdown-toggle " id="nav-1-1" href="#"
							role="button" data-po="popover"
							th:class="${active_nav == 'locations' ? 'active nav-link' : 'nav-link' }"
							aria-expanded="false">Search Jobs
							<span class="badge rounded-pill bg-warning">soon</span></a>
							<ul class="dropdown-menu popover-content d-none">
								<li><a class="dropdown-item" href="#">Option 1</a></li>
								<li><a class="dropdown-item" href="#">Option 2</a></li>
								<li><a class="dropdown-item" href="#">Option 4</a></li>
							</ul></li>


						<li class="nav-item"><a class="nav-link"
							th:class="${active_nav == 'features' ? 'active nav-link' : 'nav-link' }"
							th:href="@{/features}">Features</a></li>
						<li class="nav-item"><a class="nav-link"
							th:class="${active_nav == 'community' ? 'active nav-link' : ' nav-link' }"
							th:href="@{/community}">Community</a></li>
						<li class="nav-item"><a class="nav-link"
							th:class="${active_nav == 'contact' ? 'active nav-link' : ' nav-link' }"
							th:href="@{/contact}">Contact</a></li>

						<li class="nav-item"><a class="nav-link"
							th:class="${active_nav == 'about' ? 'nav-link active' : 'nav-link' }"
							th:href="@{/about}">AboutUs</a></li>
					</ul>
				</div>
				<div class="d-none d-lg-block ">


					<a sec:authorize="!isAuthenticated()"
						class="btn me-4 btn-sm border-0 btn-outline-light lh-sm text-dark sticky-button" data-cursor-stick
						href="/login">Login</a>

					<div sec:authorize="isAuthenticated()"
						class="lh-sm btn p-0 m-0 btn-outline-white me-6">
						<a href="/admin/dashboard" sec:authorize="hasRole('ROLE_ADMIN')"
							class="btn  btn-sm border-0 btn-outline-light lh-sm text-dark sticky-button" data-cursor-stick>
							Dashboard </a> <a href="/user/dashboard"
							sec:authorize="hasRole('ROLE_USER')"
							class="btn  btn-sm border-0 btn-outline-light lh-sm text-dark sticky-button" data-cursor-stick>
							Dashboard </a>

					</div>

					<a class="btn btn-sm btn-secondary sticky-button" th:href="@{/contact}" data-cursor-stick>Join as Author</a>
				</div>
			</div>
		</nav>

		<div
			class="d-none navbar-menu position-fixed top-0 start-0 bottom-0 w-75 mw-xs"
			style="z-index: 9999;">
			<div
				class="navbar-close navbar-backdrop position-fixed top-0 start-0 end-0 bottom-0 bg-dark"
				style="opacity: 75%;"></div>
			<nav
				class="position-relative h-100 w-100 d-flex flex-column justify-content-between py-8 px-8 bg-white overflow-auto">
				<div class="d-flex align-items-center">
					<a class="me-auto h4 mb-0 text-decoration-none" href="#"> <img
						class="img-fluid"
						src="/solstice-assets/images/logos/logoWithName.png"
						alt="forfreshers" width="190px">
					</a> <a class="navbar-close" href="#"> <svg width="24" height="24"
							viewbox="0 0 24 24" fill="none"
							xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 18L18 6M6 6L18 18" stroke="#111827"
								stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
					</a>
				</div>
				<div class="py-12">
					<ul class="nav flex-column">
						<li class="nav-item mb-4"><a class="nav-link text-dark"
							href="#">Search Jobs <span class="badge rounded-pill bg-warning">soon</span>
							</a></li>
						<li class="nav-item mb-4"><a class="nav-link"
							th:class="${active_nav == 'features' ? 'active nav-link' : 'nav-link  text-dark' }"
							th:href="@{/features}">Features</a></li>
							
						<li class="nav-item mb-4"><a class="nav-link"
							th:class="${active_nav == 'community' ? 'active nav-link' : ' nav-link text-dark  ' }"
							th:href="@{/community}">Community</a></li>
							
						<li class="nav-item mb-4"><a class="nav-link"
							th:class="${active_nav == 'contact' ? 'active nav-link' : ' nav-link  text-dark' }"
							th:href="@{/contact}">Contact</a></li>
						
						<li class="nav-item mb-4"><a class="nav-link text-dark" th:href="@{/about}">About-us</a></li>
					</ul>
				</div>
				<div class="text-center">
					<a sec:authorize="!isAuthenticated()"
						class="btn mb-2 btn-sm border-0 btn-primary-light lh-sm px-10"
						href="/login">Login</a>
						
					<a sec:authorize="!isAuthenticated()"
					 class="btn btn-sm btn-secondary" th:href="@{/contact}" data-cursor-stick>Join as Author</a>

					<div sec:authorize="isAuthenticated()" class="" href="/admin/">
						<a href="/admin/dashboard" sec:authorize="hasRole('ROLE_ADMIN')"
							class="btn me-4 btn-sm border-0 btn-outline-light lh-sm text-dark">
							Dashboard </a> <a href="/user/dashboard"
							sec:authorize="hasRole('ROLE_USER')"
							class="btn me-4 btn-sm border-0 btn-outline-light lh-sm text-dark">
							Dashboard </a>
					</div>
				</div>
			</nav>
		</div>
	</div>

</body>
</html>