<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta charset="UTF-8">
<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="solstice-assets/fonts/fonts.css">
<!--  mail css -->
<link rel="stylesheet" href="css/main.css">
<!-- awasome fonts -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

<title>Cookies-policy - forfreshers</title>
<meta name="description"
	content="Our community page is the heart of our platform, where job seekers, employers, and industry professionals come together to share, learn, and grow.">

<meta property="og:title" content="Cookies-policy - forfreshers">
<meta property="og:description"
	content="Our community page is the heart of our platform, where job seekers, employers, and industry professionals come together to share, learn, and grow.">
<meta property="og:image"
	th:content="@{/solstice-assets/images/logos/logoWithName.png}">
<meta property="og:url" th:content="@{/cookies-policy}">

<link rel="canonical" th:href="@{/cookies-policy}">

<meta name="author" content="Saravanan Raja">

</head>
<body>
	<header>
		<div th:insert="~{layout/navbar :: navbar}"></div>
	</header>
	<section class="pb-12 pb-lg-24 overflow-hidden">

		<div class="row">
			<div class="text-center mb-24">
				<h3 class="font-heading mb-4">Cookies-policy</h3>
				<p class="text-light-dark mb-0">We value your values</p>
			</div>

			<div class="col-12 col-lg-8 mx-auto px-12 ">


				<h4 class="mt-1">What is a Cookie?</h4>
				<p class="text-indend">Cookies are small text files that are
					used to store small pieces of information. They are stored on your
					device when the website is loaded on your browser. These cookies
					help us make the website function properly, make it more secure,
					provide a better user experience, and understand how the website
					performs and analyze what works and where it needs improvement.</p>

				<h4 class="mt-4">How Do We Use Cookies?</h4>
				<p class="text-indend">As with most online services, our website
					uses first-party and third-party cookies for several purposes.
					First-party cookies are essential for the website's proper
					functioning and do not collect any of your personally identifiable
					data.</p>
				<p class="text-indend">Third-party cookies are mainly used for
					understanding how the website performs, how you interact with our
					website, keeping our services secure, providing advertisements that
					are relevant to you, and overall providing you with a better and
					improved user experience. They also help speed up your future
					interactions with our website.</p>

				<h4 class="mt-4">Types of Cookies We Use</h4>
				<h5 class="pt-3">Necessary Cookies</h5>
				<p class="small text-light-dark text-indend">These cookies are required for the basic operation of the website. They enable core functionalities like security, session management, and accessibility.</p>
				<table class="small table table-striped table-bordered rounded ">
					<thead class="table-secondary ">
						<tr>
							<th class="col-3 small">Cookie</th>
							<th class="col-5 small" >Description</th>
							<th class="col-3 small" >Life</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>JSESSIONID</td>
							<td>The JSESSIONID cookie is used by New Relic to store a
								session identifier so that New Relic can monitor session counts
								for an application.</td>
							<td>Session</td>
						</tr>
						
					</tbody>
				</table>
				<h5 class="pt-3">Performance Cookies</h5>
				<p class="small text-light-dark text-indend"> These cookies collect information about how users interact with a website, such as which pages are visited most often or if they encounter errors.</p>
				<table class="small table table-striped table-bordered rounded ">
					<thead class="table-secondary ">
						<tr>
							<th class="col-3 small">Cookie</th>
							<th class="col-5 small" >Description</th>
							<th class="col-3 small" >Life</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>cookies-policy</td>
							<td>The cookies-policy cookie is used to remember user accept the cookies to store their browser</td>
							<td>1 year</td>
						</tr>
					
					</tbody>
				</table>
				
				<h5 class="pt-3">Functional Cookies</h5>
				<p class="small text-light-dark text-indend">These cookies remember user preferences and settings to provide a more personalized experience.</p>
				<table class="small table table-striped table-bordered rounded ">
					<thead class="table-secondary ">
						<tr>
							<th class="col-3 small">Cookie</th>
							<th class="col-5 small" >Description</th>
							<th class="col-3 small" >Life</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>ADM_BG</td>
							<td>The ADM_BG cookie is used by our authors who personalized their author dashboard theme color.</td>
							<td>1 year, 1 month and 4 days</td>
						</tr>
					
					</tbody>
				</table>
			</div>

		</div>

	</section>

	<footer>
		<div th:replace="~{layout/footer :: footer}"></div>
	</footer>
	<!-- jquery library JS -->
	<script src="/assets/js/jquery.min.js"></script>
	<!-- Popper.js -->
	<script src="/webjars/popper.js/2.9.2/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/5.2.1/js/bootstrap.min.js"></script>
	<!-- main User application JS -->
	<script src="js/main.js"></script>

</body>
</html>