<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<!--  tag for google ads and analytics -->
<th:block th:replace="~{layout/headTags :: #body}"></th:block>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta charset="UTF-8">
<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="solstice-assets/fonts/fonts.css">

<title>terms-and-condition - forfreshers.in</title>
<meta name="description"
	content="Your privacy is important to us. As we do not collect personal data, there is no need for data protection measures related to user information.">

<meta property="og:title" content="terms-and-condition - forfreshers">
<meta property="og:description"
	content="Your privacy is important to us. As we do not collect personal data, there is no need for data protection measures related to user information.">
<meta property="og:image"
	th:content="@{/solstice-assets/images/logos/logoWithName.png}">
<meta property="og:url" th:content="@{/privacy-policy}">

<link rel="canonical" th:href="@{/privacy-policy}">

<meta name="author" content="Saravanan Raja">

</head>
<body>
	<header>
		<div th:insert="~{layout/navbar :: navbar}"></div>
	</header>
	<section class="pb-12 pb-lg-24 ">

		<div class="container mt-5 d-flex flex-column align-items-center">
			<h1 class="mb-4 text-center">Terms and Conditions</h1>
			<p>
				<strong>Effective Date:</strong> August, 2024
			</p>

			<p class="text-indend col-lg-8 text-center py-4">
				Welcome to <strong>forfreshers.in</strong>. By accessing or
				using our website (the "Site"), you agree to be bound by these Terms
				and Conditions ("Terms"). Please read them carefully before using
				the Site. If you do not agree with these Terms, please do not use
				our Site.
			</p>

			<div class="accordion col-lg-8" id="termsAccordion">
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button"
							data-bs-toggle="collapse" data-bs-target="#collapseOne"
							aria-expanded="true" aria-controls="collapseOne">1.
							Acceptance of Terms</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse"
						aria-labelledby="headingOne">
						<div class="accordion-body text-indend">By accessing and using this
							Site, you accept and agree to be bound by these Terms, along with
							our <a th:href="@{/privacy-policy}" target="_blank">Privacy Policy</a> and any other legal notices or conditions
							posted on the Site.</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button"
							data-bs-toggle="collapse" data-bs-target="#collapseTwo"
							aria-expanded="true" aria-controls="collapseTwo">2.
							Modifications to Terms</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse"
						aria-labelledby="headingTwo">
						<div class="accordion-body text-indend">We reserve the right to modify
							these Terms at any time without prior notice. Your continued use
							of the Site following any changes indicates your acceptance of
							the new Terms. It is your responsibility to review these Terms
							periodically.</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button"
							data-bs-toggle="collapse" data-bs-target="#collapseThree"
							aria-expanded="true" aria-controls="collapseThree">3.
							Use of the Site</button>
					</h2>
					<div id="collapseThree" class="accordion-collapse collapse "
						aria-labelledby="headingThree">
						<div class="accordion-body">
							<ul>
								<li><strong>Purpose:</strong> This Site is intended to
									provide visitors with access to job posts and links to official
									career pages. The content is for informational purposes only.</li>
								<li><strong>Prohibited Activities:</strong> You agree not
									to:
									<ul>
										<li>Use the Site for any unlawful purpose.</li>
										<li>Attempt to interfere with the proper functioning of
											the Site.</li>
										<li>Misuse the Site in any way that could damage the Site
											or its content.</li>
									</ul></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button"
							data-bs-toggle="collapse" data-bs-target="#collapseFour"
							aria-expanded="true" aria-controls="collapseFour">4.
							Content and Intellectual Property</button>
					</h2>
					<div id="collapseFour" class="accordion-collapse collapse"
						aria-labelledby="headingFour">
						<div class="accordion-body">
							<ul>
								<li><strong>Ownership:</strong> All content on this Site,
									including text, graphics, logos, and images, is the property of
									<strong>forfreshers.in</strong> and is protected by
									copyright, trademark, and other intellectual property laws.</li>
								<li><strong>Usage:</strong> Visitors are allowed to view,
									download, and print content for personal, non-commercial use
									only.</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed collapsed" type="button"
							data-bs-toggle="collapse" data-bs-target="#collapseFive"
							aria-expanded="true" aria-controls="collapseFive">5.
							External Links</button>
					</h2>
					<div id="collapseFive" class="accordion-collapse collapse"
						aria-labelledby="headingFive">
						<div class="accordion-body text-indend">The Site may contain links to
							third-party websites (e.g., official career pages). We do not
							control or endorse the content of these external sites and are
							not responsible for their content or privacy practices.</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed collapsed" type="button"
							data-bs-toggle="collapse" data-bs-target="#collapseSix"
							aria-expanded="true" aria-controls="collapseSix">6.
							Disclaimer of Warranties</button>
					</h2>
					<div id="collapseSix" class="accordion-collapse collapse"
						aria-labelledby="headingSix">
						<div class="accordion-body text-indend">The Site is provided on an "as
							is" and "as available" basis. We make no warranties, expressed or
							implied, regarding the operation or availability of the Site, or
							the accuracy, completeness, or reliability of any content
							available on the Site.</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button"
							data-bs-toggle="collapse" data-bs-target="#collapseSeven"
							aria-expanded="true" aria-controls="collapseSeven">7.
							Limitation of Liability</button>
					</h2>
					<div id="collapseSeven" class="accordion-collapse collapse"
						aria-labelledby="headingSeven">
						<div class="accordion-body text-indend">
							To the fullest extent permitted by law, <strong> forfreshers.in</strong> shall not be liable for any direct, indirect,
							incidental, special, or consequential damages resulting from your
							use of the Site or any content or services provided through the
							Site.
						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button"
							data-bs-toggle="collapse" data-bs-target="#collapseEight"
							aria-expanded="true" aria-controls="collapseEight">8.
							Indemnification</button>
					</h2>
					<div id="collapseEight" class="accordion-collapse collapse"
						aria-labelledby="headingEight">
						<div class="accordion-body text-indend">
							You agree to indemnify and hold harmless <strong>forfreshers.in</strong>, its affiliates, and their respective officers,
							directors, employees, and agents from any claims, liabilities,
							damages, and expenses (including reasonable attorneys' fees)
							arising out of your use of the Site or your violation of these
							Terms.
						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button"
							data-bs-toggle="collapse" data-bs-target="#collapseNine"
							aria-expanded="true" aria-controls="collapseNine">9.
							Governing Law</button>
					</h2>
					<div id="collapseNine" class="accordion-collapse collapse"
						aria-labelledby="headingNine">
						<div class="accordion-body text-indend">
							These Terms and your use of the Site shall be governed by and
							construed in accordance with the laws of <strong>India</strong>, without regard to its conflict of law
							principles.
						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button"
							data-bs-toggle="collapse" data-bs-target="#collapseTen"
							aria-expanded="true" aria-controls="collapseTen">10.
							Contact Information</button>
					</h2>
					<div id="collapseTen" class="accordion-collapse collapse show"
						aria-labelledby="headingTen">
						<div class="accordion-body">
							<p>
							If you have any questions about these Terms, please contact us at:
							</p>
							<img
								th:src="@{/solstice-assets/images/logos/logoWithName.png}"
								alt="Contact Us" class="img-fluid my-2 w-25"> 
							</p>
								Email: <a
								href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=support@forfreshers.in&tf=1">support@forfreshers.in</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- jquery library JS -->
	<script src="/assets/js/jquery.min.js"></script>
	<!-- Popper.js -->
	<script src="/webjars/popper.js/2.9.2/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/5.2.1/js/bootstrap.min.js"></script>



	<footer>
		<div th:replace="~{layout/footer :: footer}"></div>
	</footer>

</body>
</html>